version: "3.9"

services:
  redis:
    image: "redis:alpine"
    restart: always
    networks:
      - backend

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: test
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    networks:
      - backend

  gateway:
    build:
      context: gateway
      dockerfile: .Dockerfile
    restart: always
    env_file:
      - gateway.env
      - db.env
    volumes:
      - ./gateway.env:/app/.env
    depends_on:
      - wb
      - db
    networks:
      - backend

  wb:
    build:
      context: wb
      dockerfile: .Dockerfile
    restart: always
    env_file:
      - wb.env
      - db.env
    volumes:
      - ./wb.env:/app/.env
    depends_on:
      - db
      - redis
    networks:
      - backend

  client:
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    build:
      dockerfile: .Dockerfile
      context: ./client
    volumes:
      - /app/node_modules
      - ./client:/app
    depends_on:
      - gateway
    networks:
      - frontend

  nginx:
    image: nginx
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/logs/nginx:/var/log/nginx
    ports:
      - "80:80"
    environment:
#      - NGINX_HOST=foobar.com
      - NGINX_PORT=80
    depends_on:
      - client
      - gateway
      - adminer
    networks:
      - backend
      - frontend

networks:
  frontend:
  backend:

